* {
    box-sizing: border-box;
}

@mixin typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    /*keeps content on single line */
    margin: 0 auto;
    animation:
        typing 7s steps(40, start),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('./img/bank-teller.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    @include typewriter;
    color: white;
    font-size: 5vw;
    text-shadow: 2px 2px black;
    text-align: center;
}

p {
    color: white;
    font-size: 4vh;
    text-align: center;
    animation: fade-in 7s;
}

.btn {
    color: white;
    background: #ff8000;
    border-color: #ff8000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & select {
        padding: 10px 20px 10px 10px;
        appearance: none;
        border: 1px solid #dedede;
        font-size: 16px;
        background: #ffffff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-position: right 10px top 50%, 0, 0;
        background-size: 12px auto, 100%;
        background-repeat: no-repeat;
        color: #000;
    }

    & input {
        border: 2px solid #fff;
        background: #fff;
        font-size: 30px;
        text-align: center;
        color: #000;
        width: 100%;
    }
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    font-size: 14px;
    padding: 0 10px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

@media (max-width: 600px) {
    .currency input {
        width: 200px;
    }
}
